@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto/RobotoRegular.eot");
  src: url("fonts/Roboto/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/RobotoRegular.woff") format("woff"), url("fonts/Roboto/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Roboto/RobotoBold.eot");
  src: url("fonts/Roboto/RobotoBold.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/RobotoBold.woff") format("woff"), url("fonts/Roboto/RobotoBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Roboto/RobotoItalic.eot");
  src: url("fonts/Roboto/RobotoItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/RobotoItalic.woff") format("woff"), url("fonts/Roboto/RobotoItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Roboto/RobotoLight.eot");
  src: url("fonts/Roboto/RobotoLight.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/RobotoLight.woff") format("woff"), url("fonts/Roboto/RobotoLight.ttf") format("truetype");
}
@font-face {
  font-family: 'B20Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/B20Sans/B20SansSemiCondensed.eot");
  src: url("fonts/B20Sans/B20SansSemiCondensed.eot?#iefix") format("embedded-opentype"), url("fonts/B20Sans/B20SansSemiCondensed.woff") format("woff"), url("fonts/B20Sans/B20SansSemiCondensed.ttf") format("truetype");
}
@font-face {
  font-family: 'Casper';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Casper/CasperRegular.eot");
  src: url("fonts/Casper/CasperRegular.eot?#iefix") format("embedded-opentype"), url("fonts/Casper/CasperRegular.woff") format("woff"), url("fonts/Casper/CasperRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'Casper';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Casper/CasperBold.eot");
  src: url("fonts/Casper/CasperBold.eot?#iefix") format("embedded-opentype"), url("fonts/Casper/CasperBold.woff") format("woff"), url("fonts/Casper/CasperBold.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/RobotoCondensed/RobotoCondensedRegular.eot");
  src: url("fonts/RobotoCondensed/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoCondensed/RobotoCondensedRegular.woff") format("woff"), url("fonts/RobotoCondensed/RobotoCondensedRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/RobotoCondensed/RobotoCondensedBold.eot");
  src: url("fonts/RobotoCondensed/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoCondensed/RobotoCondensedBold.woff") format("woff"), url("fonts/RobotoCondensed/RobotoCondensedBold.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/RobotoCondensed/RobotoCondensedLight.eot");
  src: url("fonts/RobotoCondensed/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoCondensed/RobotoCondensedLight.woff") format("woff"), url("fonts/RobotoCondensed/RobotoCondensedItalic.ttf") format("truetype");
}
body {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464646;
}
h1,
h2,
h3,
h4,
h6,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0px;
}
a,
a:hover {
  color: inherit;
}
.somit-header {
  position: relative;
  height: 150px;
}
.somit-header .main-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.somit-header .main-header.fixed {
  position: fixed;
  top: 0;
}
.top-header {
  background: white;
  color: #005a37;
  min-height: 90px;
  padding-top: 22px;
}
.phone-block {
  font-family: 'RobotoCondensed', sans-serif;
  padding-left: 30px;
}
.phone-block .label {
  font-size: 14px;
  line-height: 1;
}
.top-header .phone-block {
  background: url(../img/bg-phone.png) no-repeat left center;
  margin-left: 40px;
  margin-top: 5px;
}
.top-header .phone-block .phone-number {
  font-size: 16px;
}
@media (max-width: 992px) {
  .top-header .phone-block {
    margin-left: 0px;
  }
}
.somit-footer .phone-block {
  background: url(../img/bg-phone-white.png) no-repeat left center;
  border-right: 1px solid #f8f9fb;
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 10px;
  float: left;
}
.somit-footer .phone-block .phone-number {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
}
@media (max-width: 1200px) {
  .somit-footer .phone-block .phone-number {
    font-size: 22px;
    line-height: 1.5;
  }
}
.lang-switch {
  font-family: 'RobotoCondensed', sans-serif;
  font-size: 12px;
  margin-top: 8px;
  float: right;
}
.lang-switch .lang {
  color: #959595;
  display: inline-block;
  font-weight: 600;
  padding: 6px 8px;
  text-transform: uppercase;
}
.lang-switch .lang.current {
  background: linear-gradient(#398f3b, #1f651c);
  border-radius: 50%;
  color: #ebebeb;
  cursor: default;
}
.quest-button a {
  border-radius: 30px;
  display: inline-block;
  font-family: 'RobotoCondensed', sans-serif;
  font-size: 12px;
  padding: 6px 20px;
  text-transform: uppercase;
}
.top-header .quest-button {
  float: right;
  margin-top: 8px;
}
.top-header .quest-button a {
  border: 1px solid #086142;
}
@media (max-width: 768px) {
  .top-header .quest-button a {
    padding: 6px 10px;
  }
}
.somit-footer .quest-button {
  margin-top: 20px;
  margin-left: 30px;
  float: left;
}
.somit-footer .quest-button a {
  border: 1px solid #ebebeb;
}
@media (max-width: 1200px) {
  .somit-footer .quest-button {
    margin-left: 0px;
  }
}
.bottom-header {
  background-color: #f8f9fb;
  min-height: 60px;
}
.search-block {
  float: right;
}
.search-block .icon-search {
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  width: 28px;
}
.bottom-header .search-block {
  margin-top: 16px;
}
.bottom-header .search-block .icon-search {
  background: url(../img/bg-lupa.png) no-repeat center;
  border: 1px solid #086142;
}
.somit-footer .search-block {
  float: right;
  margin-top: 20px;
}
.somit-footer .search-block .icon-search {
  background: url(../img/bg-lupa-white.png) no-repeat center;
  border: 1px solid #ebebeb;
}
.main-menu ul {
  position: relative;
}
.main-menu ul li {
  display: inline-block;
  font-family: 'RobotoCondensed', sans-serif;
  list-style: none;
  text-transform: uppercase;
}
.main-menu ul a:hover {
  text-decoration: none;
}
.bottom-header .main-menu li {
  font-size: 17px;
  font-weight: 300;
}
.bottom-header .main-menu li > a {
  display: inline-block;
  padding: 18px 15px;
}
@media (max-width: 1200px) {
  .bottom-header .main-menu li > a {
    padding: 18px 5px;
  }
}
.bottom-header .main-menu li:hover {
  background: #e6e6e6;
}
.bottom-header .main-menu li:hover > a {
  color: #005a37;
}
.bottom-header .main-menu li > ul {
  background: #e6e6e6;
  border-radius: 0 0 4px 4px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  white-space: nowrap;
}
.bottom-header .main-menu li > ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: none;
}
.bottom-header .main-menu li > ul li:hover {
  background: transparent;
}
.bottom-header .main-menu li > ul li:hover > a {
  border: 1px solid #086142;
  border-radius: 4px;
  color: #005a37;
}
.bottom-header .main-menu li > ul li a {
  border: 1px solid transparent;
  padding: 8px 7px;
  margin: 10px 8px;
}
.bottom-header .main-menu li > ul li ul {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 4px 4px;
}
.bottom-header .main-menu li > ul li ul li {
  color: #ebebeb;
  font-size: 14px;
}
.bottom-header .main-menu li > ul li ul li:hover a {
  border: 1px solid transparent;
  color: #ebebeb;
  text-decoration: underline;
}
.somit-footer .main-menu ul {
  margin-left: 0px;
}
.somit-footer .main-menu li {
  font-size: 14px;
  padding: 12px 10px;
}
@media (max-width: 1200px) {
  .somit-footer .main-menu li {
    padding: 12px 5px;
  }
}
.somit-footer {
  background: url(../img/bg-footer.jpg) center top;
  color: #ebebeb;
  padding: 60px 0 50px;
}
.somit-footer .copyright {
  font-size: 14px;
  font-family: 'RobotoCondensed', sans-serif;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .somit-footer .copyright {
    font-size: 12px;
  }
}
.somit-footer .address-block {
  font-size: 14px;
  font-family: 'RobotoCondensed', sans-serif;
  margin-top: 20px;
}
.somit-bonnet {
  position: relative;
}
.somit-bonnet .owl-element {
  position: relative;
  height: 500px;
  overflow: hidden;
  max-width: 100%;
}
.somit-bonnet .bonnet-container {
  width: 2894px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1447px;
  z-index: 2;
}
.somit-bonnet .bonnet-container img {
  display: block;
  margin: 0 auto;
}
.somit-bonnet .text-container {
  padding-top: 120px;
  position: relative;
  z-index: 10;
}
.somit-bonnet .text-container .title-xl {
  max-width: 370px;
}
.somit-bonnet .owl-controls {
  margin-top: -25px;
  text-align: center;
  position: relative;
}
.somit-bonnet .owl-controls .owl-dot {
  display: inline-block;
}
.somit-bonnet .owl-controls .owl-dot span {
  background: white;
  border-radius: 1px;
  display: block;
  height: 5px;
  margin: 7px 7px 8px;
  width: 24px;
}
.somit-content {
  min-height: 500px;
}
.title-green {
  color: #005a37;
}
.title-white {
  color: #ebebeb;
}
.title-lg {
  font-size: 35px;
  font-weight: 300;
  margin: 30px 0;
  position: relative;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.title-lg:before {
  border-radius: 2px;
  bottom: 0;
  content: "";
  height: 4px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  width: 120px;
}
.title-lg.title-green:before {
  background: #086142;
}
.title-lg.title-white:before {
  background: #ebebeb;
}
.title-xl {
  font-size: 35px;
  font-weight: 300;
  font-family: 'RobotoCondensed', sans-serif;
  line-height: 1.5;
  margin: 40px 0;
  text-transform: uppercase;
}
.title-md {
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0;
  text-transform: uppercase;
}
.title-sm {
  font-size: 18px;
  font-family: 'Casper', sans-serif;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
}
.title-xs {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
}
.title-icon {
  padding-left: 50px;
  line-height: 36px;
}
.title-fact {
  background: url(../img/icon-fact.png) no-repeat 10px center;
}
.title-sertificate {
  background: url(../img/icon-sertificate.png) no-repeat 10px center;
}
.text-grey {
  color: #7d7d7d;
}
.text-white {
  color: #ebebeb;
}
.announce-lg {
  font-size: 18px;
}
.announce-md {
  line-height: 1.4;
}
.somit-spruce {
  background: url(../img/bg-spruce.jpg) center no-repeat;
}
.somit-earth {
  background: url(../img/bg-map.jpg) center top no-repeat #086142;
}
.somit-pattern {
  background: url(../img/bg-pattern.png) repeat;
}
.block-equipments {
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  padding: 0px 70px;
  max-width: 1300px;
  margin: 0 auto 10px;
}
.block-more {
  margin: 30px 0 40px;
}
.block-about .block-more {
  margin: 30px 0 20px;
}
.block-boxes {
  display: inline-block;
  margin: 0 auto 20px;
}
.block-onmain {
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  max-width: 340px;
}
.block-onmain .block-photo {
  position: absolute;
  z-index: 0;
}
.block-onmain .block-photo .sepia,
.block-onmain .block-photo .sepia-color {
  left: 0;
  position: absolute;
  top: 0;
}
.block-onmain .block-photo .colour {
  display: none;
}
.block-onmain .block-photo .sepia {
  display: block;
}
.block-onmain .block-content {
  padding: 245px 15px 25px;
  position: relative;
  z-index: 100;
}
.block-onmain .block-text {
  min-height: 125px;
}
.block-onmain:hover .colour {
  display: block;
}
.block-onmain:hover .sepia {
  display: none;
}
.block-news .date {
  font-size: 12px;
}
.buttn {
  border-radius: 30px;
  display: inline-block;
  font-size: 14px;
  font-family: 'RobotoCondensed', sans-serif;
  padding: 6px 20px;
  text-transform: uppercase;
}
.buttn:hover {
  text-decoration: none;
}
.buttn-green {
  background: linear-gradient(#398f3b, #1f651c);
  color: #ebebeb;
}
.buttn-green:hover {
  background: linear-gradient(#1f651c, #398f3b);
  color: #ebebeb;
}
.buttn-white {
  background: linear-gradient(#fffcfc, #e2ebf2);
  color: #005a37;
  font-size: 16px;
  padding: 8px 20px;
}
.buttn-white:hover {
  background: linear-gradient(#e2ebf2, #fffcfc);
  color: #005a37;
}
.buttn-greenborder {
  border: 1px solid #086142;
  color: #005a37;
}
.somit-top_photo {
  background-position: center top;
  background-repeat: no-repeat;
  height: 270px;
}
.somit-top_photo .container {
  position: relative;
  height: 100%;
}
.somit-top_photo .main-title {
  bottom: 25px;
  color: #ebebeb;
  font-size: 35px;
  font-family: 'RobotoCondensed', sans-serif;
  left: 15px;
  margin: 0;
  position: absolute;
}
.bx_breadcrumbs {
  margin: 10px 0;
}
.bx_breadcrumbs li {
  display: inline-block;
  font-size: 12px;
  list-style: none;
  line-height: 20px;
}
.bx_breadcrumbs li span {
  color: #005a37;
}
.bx_breadcrumbs li:before {
  color: #464646;
  content: "\2014\00a0";
  margin: 0 4px;
}
.bx_breadcrumbs li:first-child:before {
  display: none;
}
.somit-grey {
  background: #f6f6f6;
}
.right-side {
  float: right;
  margin-left: 130px;
  width: 270px;
}
.right-side ul {
  margin: 0;
  padding: 0;
}
.right-side ul li {
  background: url(../img/bg-li.png) no-repeat left 9px;
  color: #959595;
  list-style: none;
  margin: 10px 0;
  padding: 0 0 0 10px;
}
.block-border {
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  padding: 14px;
}
.somit-static p {
  margin: 10px 0;
}
.somit-static .teaser {
  color: #7d7d7d;
  font-size: 18px;
  margin: 10px 0 20px;
}
.big-icons {
  margin: 0 0 40px 0;
}
.big-icons .big-icon {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 3px solid #086142;
  box-shadow: 0 0 0 7px #e6e6e6;
  height: 86px;
  margin: 0px auto;
  width: 86px;
}
.big-icons .big-icon.icon-support {
  background-image: url(../img/icon-support.png);
}
.big-icons .big-icon.icon-pan {
  background-image: url(../img/icon-pan.png);
  background-position: 18px center;
}
.big-icons .big-icon.icon-eqalizer {
  background-image: url(../img/icon-eqalizer.png);
}
.big-icons .big-icon.icon-lamp {
  background-image: url(../img/icon-lamp.png);
}
.big-icons .icon-text {
  font-size: 22px;
  font-weight: 300;
  margin: 20px auto;
}
.somit-bottom {
  margin: 30px 0;
}
.somit-bottom ul {
  margin: 0;
  padding: 0;
}
.somit-bottom ul li {
  background: url(../img/bg-li2.png) no-repeat left 9px;
  list-style: none;
  margin: 10px 0;
  padding: 0 0 0 10px;
}
.somit-bottom .title-md {
  margin: 20px 0;
  text-transform: none;
}
.left-side {
  float: left;
}
